<html>

<head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script type="text/javascript" src="/assets/app.js" defer></script>
</head>

<body>
    <div class="board" id="board">
        <div class="row activities">
            <button class="button" onclick="save()"><span class="save">Update Checkpoint</span></button>
            <button class="button" onclick="undo()"><span class="undo">Last checkpoint</span></button>
            <button class="button" onclick="done()"><span class="score">Check Score</span></button>
        </div>
    </div>
    <script type="text/javascript" defer>
    </script>
</body>

</html>