<html>

<head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <script type="text/javascript" src="/assets/app.js" defer></script>
</head>

<body>
    <div class="board" id="board">
    </div>
    <script type="text/javascript" defer>
    </script>
</body>

</html>